*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background: $body-bg-color;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $text;
  font-weight: 600;
  line-height: 1.2;
  margin: 1em 0 0.5em;
}

p {
  margin: 0 0 1em;
}

code {
  font-family: $font-family-mono;
}

pre {
  border-radius: $border-radius;
  overflow-x: auto;
  // pre code styling handled in _highlight.scss
}

blockquote {
  border-left: 3px solid $orange;
  background: rgba($orange, 0.04);
  color: $black-light;
  margin: 1.5em 0;
  padding: 0.75em 1.25em;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th, td {
  border: 1px solid $border;
  padding: 0.5em 0.75em;
}

th {
  background: $border-light;
  font-weight: 600;
}

hr {
  border: none;
  border-top: 1px solid $border;
  margin: 2em 0;
}
