// Font smoothing & ligatures
* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// Code font size override
code {
  font-size: 0.9em;
}

// Linked code
a code {
  text-decoration: underline;
}

// NuGet badge styling (from old theme)
.nuget-badge code {
  background-color: #202020;
  border: 4px solid #c0c0c0;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #6e6e6e;
  color: #e2e2e2;
  display: block;
  font: 1.5em $font-family-mono;
  line-height: 1.5em;
  overflow: auto;
  padding: 15px;
}
