image: Ubuntu

stack: node 20

branches:
  only:
    - master

environment:
  access_token:
    secure: 1WheHu+kkZmDJrayiqakzJvDUfL6OOkzc3a+sd3RM6hJcjOvIJcvrOzegNHHzbCV

install:
  - npm install -g hexo-cli
  - npm install
cache:
  - node_modules -> package.json

  # Don't actually build.
build: off
test: off

deploy_script:
  # See http://www.appveyor.com/docs/how-to/git-push for more info
  - git config --global credential.helper store
  - git config --global user.email "hmemcpy@gmail.com"
  - git config --global user.name "Igal Tabachnik"
  - echo "https://$access_token:x-oauth-basic@github.com" > ~/.git-credentials
  # reset modified dates for the blog posts
  # - git ls-files -z | while read -d '' path; do touch -d \"$(git log -1 --format=\"@%ct\" \"$path\")\" \"$path\"; done
  # deploy
  - hexo deploy --generate
