.footer {
  background: $body-bg-color;
  padding: 1em $sidebar-offset;
  margin-top: auto;

  .footer-inner {
    max-width: 960px;
    text-align: center;
    color: $grey-dark;
    font-size: $font-size-smaller;
    padding-left: $sidebar-width + $sidebar-offset;
  }

  .author { font-weight: 600; }
}
