.footer {
  background: $body-bg-color;
  padding: 1em 20px;
  margin-top: auto;
  border-top: 1px solid $gainsboro;

  .footer-inner {
    text-align: center;
    color: $grey-dark;
    font-size: $font-size-smaller;
  }

  .author { font-weight: 600; }
}
