.site-overview-wrap {
  padding: $sidebar-padding;
  flex: 1;
  background: $content-bg-color;
}

.site-overview {
  text-align: center;
}

.site-author {
  text-align: center;
  padding: 10px 0;
}

.site-author-image-wrap {
  margin: 0 auto 8px;
  width: $site-author-image-width;
}

.site-author-image {
  width: $site-author-image-width;
  height: $site-author-image-width;
  border-radius: 50%;
  border: 2px solid $grey-lighter;
  object-fit: cover;
  display: block;
  transition: border-color 0.2s;

  &:hover {
    border-color: $grey-light;
  }
}

.site-author-name {
  font-weight: 600;
  margin: 8px 0 4px;
  color: $black-dim;
  font-size: 1em;
}

.site-description {
  font-size: $font-size-smaller;
  color: $grey-dark;
  margin-bottom: 8px;
}

.links-of-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12px;
  gap: 6px;

  .links-of-author-item {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      color: $grey-dim;
      font-size: 1.1em;
      border-radius: 50%;
      border: 1px solid $grey-lighter;
      transition: background 0.2s, color 0.2s, border-color 0.2s;

      &:hover {
        background: $body-bg-color;
        color: $orange;
        border-color: $orange;
      }
    }
  }
}
